/* mobile first */
.timeline :before{
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: white;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
